body {
    padding: 0 10px 10px 20px;
    background-image: linear-gradient(to bottom right, #e7e1d9, #ffffff);
}
button:focus {
    outline:0;
}
.collapse {
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14pt;
    border: none;
    padding: 10px
}
.content {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}
.list {
    padding-left: 10px;
}
.text {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14pt;
}
#alert {
    color: #000000;
    background-color: #a5d4b0;
}
#warning {
    color: #000000;
    background-color: #a5d4b0;
}
#tip {
    color: #000000;
    background-color: #a5d4b0;

}
#scroll {
    font-family: "Trebuchet MS", sans-serif;
    width: 400px;
    height: 400px;
    max-height: 400px;
    overflow: auto;
}
#title {
    font-size: 20pt;
}